header {
background-color: #444444;
color: white;
font-size: 28px;
padding: 20px;
}

header a {
text-decoration: none;
color: inherit;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
  background-color: #444444;          /* Footer height */
  color: white;
  overflow: hidden;
}

.bottom-right-icon {
display: flex;          /* Use flexbox for alignment */
  justify-content: flex-start; /* Align items to the left */
  align-items: center;    /* Center vertically */
  padding: 10px;  
}

#right{
Float: right;
}

nav a {
text-decoration: none;
color: black;
display: inline;
margin-right: 25px;

}

nav {
	border-bottom: 5px solid #444444;
}

main{
	text-decoration: 35px;
	padding: 20px;
}

.float-right {
  float: right;
  margin-right: 20px; /* Add some space between the image and the text */
  margin-bottom: 10px; /* Add some space below the image */
  max-width: 400px; /* Adjust the maximum width of the image as needed */
  height: auto;
}